In [1]:
import pandas as pd
import numpy as np
from stancountry.stancountry import name_to_alpha_2, alpha_2_to_name

In [2]:
central_debt = pd.read_csv("Data/central_debt_as_gdp.csv")

In [3]:
central_debt

,Central Government Debt (Percent of GDP),1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,6.904479171,8.70029105,9.154082857,8.437266097,7.997660199,7.384412942,6.130409903,7.39749473,no data,no data
2,Albania,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,65.53000174,70.03000162,72.670076,72.38004424,70.11993217,67.61001652,65.72986791,74.45151697,73.16289694,66.46365803
3,Algeria,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,7.093511132,7.658320146,8.733313712,20.43828686,27.24198231,38.36645363,46.04638761,52.00931249,62.82192436,52.39688055
4,Angola,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,33.14910364,39.80985691,57.09304822,75.66263732,69.32286758,92.99500121,113.5541748,138.897101,86.86058241,67.04993961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Yemen,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,48.43184261,48.94994435,57.05039413,75.3489169,83.99681875,89.53508505,94.60908113,98.46952434,85.08302326,73.53135942
172,Zambia,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,25.90872757,33.85676882,61.86889743,58.03461321,63.35777959,75.22947056,94.42606901,140.2106182,110.7897389,no data
173,Zimbabwe,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,37.04415889,42.30389623,48.0142633,49.89191183,74.07511039,51.00144461,82.33805679,84.44771597,59.80656696,92.8237321
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,"©IMF, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#removing blank rows
central_debt.drop([0,174,175], inplace = True)

In [5]:
central_debt

,Central Government Debt (Percent of GDP),1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,6.904479171,8.70029105,9.154082857,8.437266097,7.997660199,7.384412942,6.130409903,7.39749473,no data,no data
2,Albania,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,65.53000174,70.03000162,72.670076,72.38004424,70.11993217,67.61001652,65.72986791,74.45151697,73.16289694,66.46365803
3,Algeria,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,7.093511132,7.658320146,8.733313712,20.43828686,27.24198231,38.36645363,46.04638761,52.00931249,62.82192436,52.39688055
4,Angola,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,33.14910364,39.80985691,57.09304822,75.66263732,69.32286758,92.99500121,113.5541748,138.897101,86.86058241,67.04993961
5,Antigua and Barbuda,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,95.79104783,101.369132,99.07128775,86.12589358,92.19273211,87.69958735,81.25083661,101.4769561,102.3576292,90.56216559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Vietnam,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,34.15699322,36.98682186,39.77107072,42.08204151,41.1091641,39.48084603,37.59935732,39.01628958,38.72076655,no data
170,West Bank and Gaza,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,30.23138981,33.95213644,37.07095266,41.54982506,42.66073409,44.6100425,46.11133367,61.21666852,64.28908402,59.77614165
171,Yemen,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,48.43184261,48.94994435,57.05039413,75.3489169,83.99681875,89.53508505,94.60908113,98.46952434,85.08302326,73.53135942
172,Zambia,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,25.90872757,33.85676882,61.86889743,58.03461321,63.35777959,75.22947056,94.42606901,140.2106182,110.7897389,no data
173,Zimbabwe,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,37.04415889,42.30389623,48.0142633,49.89191183,74.07511039,51.00144461,82.33805679,84.44771597,59.80656696,92.8237321

In [6]:
#standardizing country names
central_debt.replace(name_to_alpha_2, inplace = True)

In [7]:
central_debt

,Central Government Debt (Percent of GDP),1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,AF,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,6.904479171,8.70029105,9.154082857,8.437266097,7.997660199,7.384412942,6.130409903,7.39749473,no data,no data
2,AL,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,65.53000174,70.03000162,72.670076,72.38004424,70.11993217,67.61001652,65.72986791,74.45151697,73.16289694,66.46365803
3,DZ,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,7.093511132,7.658320146,8.733313712,20.43828686,27.24198231,38.36645363,46.04638761,52.00931249,62.82192436,52.39688055
4,AO,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,33.14910364,39.80985691,57.09304822,75.66263732,69.32286758,92.99500121,113.5541748,138.897101,86.86058241,67.04993961
5,AG,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,95.79104783,101.369132,99.07128775,86.12589358,92.19273211,87.69958735,81.25083661,101.4769561,102.3576292,90.56216559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,VN,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,34.15699322,36.98682186,39.77107072,42.08204151,41.1091641,39.48084603,37.59935732,39.01628958,38.72076655,no data
170,PS,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,30.23138981,33.95213644,37.07095266,41.54982506,42.66073409,44.6100425,46.11133367,61.21666852,64.28908402,59.77614165
171,YE,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,48.43184261,48.94994435,57.05039413,75.3489169,83.99681875,89.53508505,94.60908113,98.46952434,85.08302326,73.53135942
172,ZM,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,25.90872757,33.85676882,61.86889743,58.03461321,63.35777959,75.22947056,94.42606901,140.2106182,110.7897389,no data
173,ZW,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,37.04415889,42.30389623,48.0142633,49.89191183,74.07511039,51.00144461,82.33805679,84.44771597,59.80656696,92.8237321

In [8]:
#replacing "no data" with np.nan for standardization
central_debt.replace({"no data": np.nan}, inplace = True)

In [9]:
central_debt

,Central Government Debt (Percent of GDP),1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,AF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.904479171,8.70029105,9.154082857,8.437266097,7.997660199,7.384412942,6.130409903,7.39749473,NaN,NaN
2,AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.53000174,70.03000162,72.670076,72.38004424,70.11993217,67.61001652,65.72986791,74.45151697,73.16289694,66.46365803
3,DZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.093511132,7.658320146,8.733313712,20.43828686,27.24198231,38.36645363,46.04638761,52.00931249,62.82192436,52.39688055
4,AO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.14910364,39.80985691,57.09304822,75.66263732,69.32286758,92.99500121,113.5541748,138.897101,86.86058241,67.04993961
5,AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.79104783,101.369132,99.07128775,86.12589358,92.19273211,87.69958735,81.25083661,101.4769561,102.3576292,90.56216559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,VN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.15699322,36.98682186,39.77107072,42.08204151,41.1091641,39.48084603,37.59935732,39.01628958,38.72076655,NaN
170,PS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.23138981,33.95213644,37.07095266,41.54982506,42.66073409,44.6100425,46.11133367,61.21666852,64.28908402,59.77614165
171,YE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.43184261,48.94994435,57.05039413,75.3489169,83.99681875,89.53508505,94.60908113,98.46952434,85.08302326,73.53135942
172,ZM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.90872757,33.85676882,61.86889743,58.03461321,63.35777959,75.22947056,94.42606901,140.2106182,110.7897389,NaN
173,ZW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.04415889,42.30389623,48.0142633,49.89191183,74.07511039,51.00144461,82.33805679,84.44771597,59.80656696,92.8237321

In [10]:
#rename col to country
central_debt.rename({"Central Government Debt (Percent of GDP)": "Country"}, axis = 1, inplace = True)

In [11]:
central_debt

,Country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,AF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.904479171,8.70029105,9.154082857,8.437266097,7.997660199,7.384412942,6.130409903,7.39749473,NaN,NaN
2,AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.53000174,70.03000162,72.670076,72.38004424,70.11993217,67.61001652,65.72986791,74.45151697,73.16289694,66.46365803
3,DZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.093511132,7.658320146,8.733313712,20.43828686,27.24198231,38.36645363,46.04638761,52.00931249,62.82192436,52.39688055
4,AO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.14910364,39.80985691,57.09304822,75.66263732,69.32286758,92.99500121,113.5541748,138.897101,86.86058241,67.04993961
5,AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.79104783,101.369132,99.07128775,86.12589358,92.19273211,87.69958735,81.25083661,101.4769561,102.3576292,90.56216559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,VN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.15699322,36.98682186,39.77107072,42.08204151,41.1091641,39.48084603,37.59935732,39.01628958,38.72076655,NaN
170,PS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.23138981,33.95213644,37.07095266,41.54982506,42.66073409,44.6100425,46.11133367,61.21666852,64.28908402,59.77614165
171,YE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.43184261,48.94994435,57.05039413,75.3489169,83.99681875,89.53508505,94.60908113,98.46952434,85.08302326,73.53135942
172,ZM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.90872757,33.85676882,61.86889743,58.03461321,63.35777959,75.22947056,94.42606901,140.2106182,110.7897389,NaN
173,ZW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.04415889,42.30389623,48.0142633,49.89191183,74.07511039,51.00144461,82.33805679,84.44771597,59.80656696,92.8237321

In [12]:
#converting to long format
central_debt = pd.melt(central_debt, id_vars = 'Country', var_name = 'Year', value_name = 'Central Govt Debt (Percentage of GDP)')

In [13]:
central_debt

      Country  Year Central Govt Debt (Percentage of GDP)
0          AF  1950                                   NaN
1          AL  1950                                   NaN
2          DZ  1950                                   NaN
3          AO  1950                                   NaN
4          AG  1950                                   NaN
...       ...   ...                                   ...
12624      VN  2022                                   NaN
12625      PS  2022                           59.77614165
12626      YE  2022                           73.53135942
12627      ZM  2022                                   NaN
12628      ZW  2022                            92.8237321

[12629 rows x 3 columns]

In [14]:
central_debt.set_index(['Country', 'Year'], inplace = True)

In [15]:
central_debt

             Central Govt Debt (Percentage of GDP)
Country Year
AF      1950                                   NaN
AL      1950                                   NaN
DZ      1950                                   NaN
AO      1950                                   NaN
AG      1950                                   NaN
...                                            ...
VN      2022                                   NaN
PS      2022                           59.77614165
YE      2022                           73.53135942
ZM      2022                                   NaN
ZW      2022                            92.8237321

[12629 rows x 1 columns]

In [16]:
#reading in general debt data
general_debt = pd.read_csv("Data/general_debt_as_gdp.csv")

In [17]:
general_debt

,General Government Debt (Percent of GDP),1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,70.391063,71.992300,73.716336,73.324410,71.894783,69.472044,67.367670,75.926873,73.877756,67.581205
2,Australia,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,30.484850,34.045452,37.751735,40.593482,41.180764,41.762470,46.744039,57.115015,57.575566,55.701839
3,Austria,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,81.011265,83.757940,84.401089,82.548609,78.603451,74.073811,70.639707,82.930030,82.275804,77.786411
4,Belarus,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,36.859473,38.790605,53.006888,53.481630,53.159846,47.515236,40.999215,47.493317,41.182010,39.752693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Venezuela,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,85.399473,84.896728,129.762232,138.404232,133.609595,174.629459,205.103219,327.720484,250.582804,157.809488
86,Vietnam,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,41.412898,43.642335,46.115999,47.548352,46.319849,43.513707,40.800069,41.262943,39.309678,37.091308
87,Yemen,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,48.431843,48.949944,57.050394,75.348917,83.996819,89.535085,94.609081,98.469524,85.083023,73.531359
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,"©IMF, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#removing blank rows
general_debt.drop([0,88,89], inplace = True)

In [19]:
general_debt

,General Government Debt (Percent of GDP),1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Albania,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,70.391063,71.992300,73.716336,73.324410,71.894783,69.472044,67.367670,75.926873,73.877756,67.581205
2,Australia,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,30.484850,34.045452,37.751735,40.593482,41.180764,41.762470,46.744039,57.115015,57.575566,55.701839
3,Austria,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,81.011265,83.757940,84.401089,82.548609,78.603451,74.073811,70.639707,82.930030,82.275804,77.786411
4,Belarus,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,36.859473,38.790605,53.006888,53.481630,53.159846,47.515236,40.999215,47.493317,41.182010,39.752693
5,Belgium,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,105.485645,107.040873,105.230356,105.005290,102.020222,99.854364,97.617232,112.035422,109.192693,105.270421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,United States,83.12603738,72.9550324,72.52549155,71.75321864,73.56806647,68.49863345,64.72603348,62.32954603,64.92733248,...,104.544444,104.541461,105.127978,107.156330,106.207302,107.436714,108.744672,133.483757,126.426366,121.383217
84,Uzbekistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,6.228016,6.087355,6.724146,8.191619,19.274350,19.625930,28.542074,37.106953,35.384998,34.294587
85,Venezuela,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,85.399473,84.896728,129.762232,138.404232,133.609595,174.629459,205.103219,327.720484,250.582804,157.809488
86,Vietnam,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,41.412898,43.642335,46.115999,47.548352,46.319849,43.513707,40.800069,41.262943,39.309678,37.091308
87,Yemen,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,48.431843,48.949944,57.050394,75.348917,83.996819,89.535085,94.609081,98.469524,85.083023,73.531359

In [20]:
#standardizing country names
general_debt.replace(name_to_alpha_2, inplace = True)

In [21]:
general_debt

,General Government Debt (Percent of GDP),1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,AL,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,70.391063,71.992300,73.716336,73.324410,71.894783,69.472044,67.367670,75.926873,73.877756,67.581205
2,AU,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,30.484850,34.045452,37.751735,40.593482,41.180764,41.762470,46.744039,57.115015,57.575566,55.701839
3,AT,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,81.011265,83.757940,84.401089,82.548609,78.603451,74.073811,70.639707,82.930030,82.275804,77.786411
4,BY,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,36.859473,38.790605,53.006888,53.481630,53.159846,47.515236,40.999215,47.493317,41.182010,39.752693
5,BE,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,105.485645,107.040873,105.230356,105.005290,102.020222,99.854364,97.617232,112.035422,109.192693,105.270421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,US,83.12603738,72.9550324,72.52549155,71.75321864,73.56806647,68.49863345,64.72603348,62.32954603,64.92733248,...,104.544444,104.541461,105.127978,107.156330,106.207302,107.436714,108.744672,133.483757,126.426366,121.383217
84,UZ,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,6.228016,6.087355,6.724146,8.191619,19.274350,19.625930,28.542074,37.106953,35.384998,34.294587
85,VE,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,85.399473,84.896728,129.762232,138.404232,133.609595,174.629459,205.103219,327.720484,250.582804,157.809488
86,VN,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,41.412898,43.642335,46.115999,47.548352,46.319849,43.513707,40.800069,41.262943,39.309678,37.091308
87,YE,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,48.431843,48.949944,57.050394,75.348917,83.996819,89.535085,94.609081,98.469524,85.083023,73.531359

In [22]:
#replacing "no data" with np.nan for standardization
general_debt.replace({"no data": np.nan}, inplace = True)

In [23]:
general_debt

,General Government Debt (Percent of GDP),1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.391063,71.992300,73.716336,73.324410,71.894783,69.472044,67.367670,75.926873,73.877756,67.581205
2,AU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.484850,34.045452,37.751735,40.593482,41.180764,41.762470,46.744039,57.115015,57.575566,55.701839
3,AT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81.011265,83.757940,84.401089,82.548609,78.603451,74.073811,70.639707,82.930030,82.275804,77.786411
4,BY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.859473,38.790605,53.006888,53.481630,53.159846,47.515236,40.999215,47.493317,41.182010,39.752693
5,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.485645,107.040873,105.230356,105.005290,102.020222,99.854364,97.617232,112.035422,109.192693,105.270421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,US,83.12603738,72.9550324,72.52549155,71.75321864,73.56806647,68.49863345,64.72603348,62.32954603,64.92733248,...,104.544444,104.541461,105.127978,107.156330,106.207302,107.436714,108.744672,133.483757,126.426366,121.383217
84,UZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.228016,6.087355,6.724146,8.191619,19.274350,19.625930,28.542074,37.106953,35.384998,34.294587
85,VE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.399473,84.896728,129.762232,138.404232,133.609595,174.629459,205.103219,327.720484,250.582804,157.809488
86,VN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.412898,43.642335,46.115999,47.548352,46.319849,43.513707,40.800069,41.262943,39.309678,37.091308
87,YE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.431843,48.949944,57.050394,75.348917,83.996819,89.535085,94.609081,98.469524,85.083023,73.531359

In [24]:
#rename col to country
general_debt.rename({"General Government Debt (Percent of GDP)": "Country"}, axis = 1, inplace = True)

In [25]:
general_debt

,Country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.391063,71.992300,73.716336,73.324410,71.894783,69.472044,67.367670,75.926873,73.877756,67.581205
2,AU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.484850,34.045452,37.751735,40.593482,41.180764,41.762470,46.744039,57.115015,57.575566,55.701839
3,AT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81.011265,83.757940,84.401089,82.548609,78.603451,74.073811,70.639707,82.930030,82.275804,77.786411
4,BY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.859473,38.790605,53.006888,53.481630,53.159846,47.515236,40.999215,47.493317,41.182010,39.752693
5,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.485645,107.040873,105.230356,105.005290,102.020222,99.854364,97.617232,112.035422,109.192693,105.270421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,US,83.12603738,72.9550324,72.52549155,71.75321864,73.56806647,68.49863345,64.72603348,62.32954603,64.92733248,...,104.544444,104.541461,105.127978,107.156330,106.207302,107.436714,108.744672,133.483757,126.426366,121.383217
84,UZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.228016,6.087355,6.724146,8.191619,19.274350,19.625930,28.542074,37.106953,35.384998,34.294587
85,VE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.399473,84.896728,129.762232,138.404232,133.609595,174.629459,205.103219,327.720484,250.582804,157.809488
86,VN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.412898,43.642335,46.115999,47.548352,46.319849,43.513707,40.800069,41.262943,39.309678,37.091308
87,YE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.431843,48.949944,57.050394,75.348917,83.996819,89.535085,94.609081,98.469524,85.083023,73.531359

In [26]:
#converting to long format
general_debt = pd.melt(general_debt, id_vars = 'Country', var_name = 'Year', value_name = 'General Govt Debt (Percentage of GDP)')

In [27]:
general_debt

     Country  Year General Govt Debt (Percentage of GDP)
0         AL  1950                                   NaN
1         AU  1950                                   NaN
2         AT  1950                                   NaN
3         BY  1950                                   NaN
4         BE  1950                                   NaN
...      ...   ...                                   ...
6346      US  2022                            121.383217
6347      UZ  2022                             34.294587
6348      VE  2022                            157.809488
6349      VN  2022                             37.091308
6350      YE  2022                             73.531359

[6351 rows x 3 columns]

In [28]:
#setting index to country and year for merging
general_debt.set_index(['Country', 'Year'], inplace = True)

In [29]:
general_debt

             General Govt Debt (Percentage of GDP)
Country Year
AL      1950                                   NaN
AU      1950                                   NaN
AT      1950                                   NaN
BY      1950                                   NaN
BE      1950                                   NaN
...                                            ...
US      2022                            121.383217
UZ      2022                             34.294587
VE      2022                            157.809488
VN      2022                             37.091308
YE      2022                             73.531359

[6351 rows x 1 columns]

In [30]:
loan_debt_data = pd.concat([central_debt, general_debt], axis = 1)

In [31]:
loan_debt_data

,,Central Govt Debt (Percentage of GDP),General Govt Debt (Percentage of GDP)
Country,Year,,
AF,1950,NaN,NaN
AL,1950,NaN,NaN
DZ,1950,NaN,NaN
AO,1950,NaN,NaN
AG,1950,NaN,NaN
...,...,...,...
PH,2022,NaN,57.519704
TJ,2022,NaN,34.631164
TZ,2022,NaN,41.622404
AE,2022,NaN,29.95788
UZ,2022,NaN,34.294587

In [32]:
chinese_loan = pd.read_csv("Data/chinese_loan_data.csv")

/tmp/ipykernel_776009/2323119892.py:1: DtypeWarning: Columns (23,45,46,86,87,88,89,91,92,94,95,97) have mixed types. Specify dtype option on import or set low_memory=False.
  chinese_loan = pd.read_csv("Data/chinese_loan_data.csv")

In [33]:
chinese_loan

,AidData Record ID,Recommended For Aggregates,AidData Parent ID,Umbrella,Financier Country,Recipient,Recipient ISO-3,Recipient Region,Commitment Year,Implementation Start Year,...,Geographic Level of Precision Available,ADM1 Level Available,ADM2 Level Available,Geospatial Feature Available,Source Quality Score,Data Completeness Score,Implementation Detail Score,Loan Detail Score,Unnamed: 126,Unnamed: 127
0,94556,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,2021.0,...,NaN,NaN,NaN,NaN,5,3,4.0,NaN,NaN,NaN
1,94564,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,2021.0,...,NaN,NaN,NaN,NaN,5,3,4.0,NaN,NaN,NaN
2,94565,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,2021.0,...,NaN,NaN,NaN,NaN,4,3,5.0,NaN,NaN,NaN
3,94567,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,2021.0,...,NaN,NaN,NaN,NaN,5,4,3.0,NaN,NaN,NaN
4,94568,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,NaN,...,NaN,NaN,NaN,NaN,5,4,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20980,16239,No,NaN,Yes,China (People's Republic of),Zimbabwe,ZWE,Africa,2000,2000.0,...,NaN,NaN,NaN,NaN,1,4,NaN,NaN,NaN,NaN
20981,16401,Yes,NaN,No,China (People's Republic of),Zimbabwe,ZWE,Africa,2000,2000.0,...,NaN,NaN,NaN,NaN,1,3,3.0,NaN,NaN,NaN
20982,63472,Yes,715,No,China (People's Republic of),Zimbabwe,ZWE,Africa,2000,NaN,...,Precise,Yes,Yes,Yes,5,4,3.0,5.0,NaN,NaN
20983,72639,Yes,NaN,No,China (People's Republic of),Zimbabwe,ZWE,Africa,2000,2000.0,...,Precise,Yes,Yes,Yes,5,3,4.0,NaN,NaN,NaN
20984,73615,Yes,NaN,No,China (People's Republic of),Zimbabwe,ZWE,Africa,2000,NaN,...,NaN,NaN,NaN,NaN,4,3,1.0,NaN,NaN,NaN

In [34]:
chinese_loan = chinese_loan[chinese_loan["Recommended For Aggregates"] == "Yes"]

In [35]:
chinese_loan

,AidData Record ID,Recommended For Aggregates,AidData Parent ID,Umbrella,Financier Country,Recipient,Recipient ISO-3,Recipient Region,Commitment Year,Implementation Start Year,...,Geographic Level of Precision Available,ADM1 Level Available,ADM2 Level Available,Geospatial Feature Available,Source Quality Score,Data Completeness Score,Implementation Detail Score,Loan Detail Score,Unnamed: 126,Unnamed: 127
0,94556,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,2021.0,...,NaN,NaN,NaN,NaN,5,3,4.0,NaN,NaN,NaN
1,94564,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,2021.0,...,NaN,NaN,NaN,NaN,5,3,4.0,NaN,NaN,NaN
2,94565,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,2021.0,...,NaN,NaN,NaN,NaN,4,3,5.0,NaN,NaN,NaN
3,94567,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,2021.0,...,NaN,NaN,NaN,NaN,5,4,3.0,NaN,NaN,NaN
4,94568,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,NaN,...,NaN,NaN,NaN,NaN,5,4,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20978,34717,Yes,NaN,No,China (People's Republic of),Zambia,ZMB,Africa,2000,2000.0,...,Precise,Yes,Yes,Yes,3,3,4.0,NaN,NaN,NaN
20981,16401,Yes,NaN,No,China (People's Republic of),Zimbabwe,ZWE,Africa,2000,2000.0,...,NaN,NaN,NaN,NaN,1,3,3.0,NaN,NaN,NaN
20982,63472,Yes,715,No,China (People's Republic of),Zimbabwe,ZWE,Africa,2000,NaN,...,Precise,Yes,Yes,Yes,5,4,3.0,5.0,NaN,NaN
20983,72639,Yes,NaN,No,China (People's Republic of),Zimbabwe,ZWE,Africa,2000,2000.0,...,Precise,Yes,Yes,Yes,5,3,4.0,NaN,NaN,NaN
20984,73615,Yes,NaN,No,China (People's Republic of),Zimbabwe,ZWE,Africa,2000,NaN,...,NaN,NaN,NaN,NaN,4,3,1.0,NaN,NaN,NaN

In [36]:
chinese_loan.columns[45:60]

Index(['Security Agent/Collateral Agent',
       'Security Agent/Collateral Agent Type', 'Collateral',
       ' Amount (Original Currency) ', 'Original Currency', 'Amount Estimated',
       ' Amount (Constant USD 2021) ', ' Amount (Nominal USD) ',
       ' Adjusted Amount (Original Currency) ',
       ' Adjusted Amount (Constant USD 2021) ',
       ' Adjusted Amount (Nominal USD) ', 'Financial Distress',
       'Commitment Date (MM/DD/YYYY)', 'Commitment Date Estimated',
       'Planned Implementation Start Date (MM/DD/YYYY)'],
      dtype='object')

In [37]:
#isolating for only the columns we want
chinese_loan = chinese_loan[["Recipient", "Implementation Start Year", "Intent", "Flow Type Simplified", "Sector Name", "COVID", ' Adjusted Amount (Nominal USD) ']]

In [38]:
chinese_loan

,Recipient,Implementation Start Year,Intent,Flow Type Simplified,Sector Name,COVID,Adjusted Amount (Nominal USD)
0,Afghanistan,2021.0,Development,Grant,EMERGENCY RESPONSE,NaN,"7,111,455.91"
1,Afghanistan,2021.0,Development,Grant,HEALTH,Yes,"12,600,000.00"
2,Afghanistan,2021.0,Development,Grant,HEALTH,Yes,"14,400,000.00"
3,Afghanistan,2021.0,Development,Grant,EMERGENCY RESPONSE,Yes,"13,000,000.00"
4,Afghanistan,NaN,Development,Grant,EMERGENCY RESPONSE,NaN,"7,500,000.00"
...,...,...,...,...,...,...,...
20978,Zambia,2000.0,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,NaN,"120,794.95"
20981,Zimbabwe,2000.0,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,NaN,"603,974.73"
20982,Zimbabwe,NaN,Mixed,Loan,"INDUSTRY, MINING, CONSTRUCTION",NaN,"5,822,316.37"
20983,Zimbabwe,2000.0,Development,Grant,HEALTH,NaN,NaN
20984,Zimbabwe,NaN,Development,Grant,EMERGENCY RESPONSE,NaN,"19,931.00"

In [39]:
#Adding nos to COVID column
chinese_loan['COVID'].fillna("No", inplace = True)

/tmp/ipykernel_776009/3051015601.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_loan['COVID'].fillna("No", inplace = True)

In [40]:
chinese_loan

,Recipient,Implementation Start Year,Intent,Flow Type Simplified,Sector Name,COVID,Adjusted Amount (Nominal USD)
0,Afghanistan,2021.0,Development,Grant,EMERGENCY RESPONSE,No,"7,111,455.91"
1,Afghanistan,2021.0,Development,Grant,HEALTH,Yes,"12,600,000.00"
2,Afghanistan,2021.0,Development,Grant,HEALTH,Yes,"14,400,000.00"
3,Afghanistan,2021.0,Development,Grant,EMERGENCY RESPONSE,Yes,"13,000,000.00"
4,Afghanistan,NaN,Development,Grant,EMERGENCY RESPONSE,No,"7,500,000.00"
...,...,...,...,...,...,...,...
20978,Zambia,2000.0,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,No,"120,794.95"
20981,Zimbabwe,2000.0,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,No,"603,974.73"
20982,Zimbabwe,NaN,Mixed,Loan,"INDUSTRY, MINING, CONSTRUCTION",No,"5,822,316.37"
20983,Zimbabwe,2000.0,Development,Grant,HEALTH,No,NaN
20984,Zimbabwe,NaN,Development,Grant,EMERGENCY RESPONSE,No,"19,931.00"

In [41]:
#Replacing not listed for the other categories
chinese_loan['Intent'].fillna("Not Listed", inplace = True)
chinese_loan['Flow Type Simplified'].fillna("Not Listed", inplace = True)
chinese_loan['Sector Name'].fillna("Not Listed", inplace = True)

/tmp/ipykernel_776009/3911743959.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_loan['Intent'].fillna("Not Listed", inplace = True)
/tmp/ipykernel_776009/3911743959.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_loan['Flow Type Simplified'].fillna("Not Listed", inplace = True)
/tmp/ipykernel_776009/3911743959.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_loan['Sector Name'].fillna("Not Listed", inplace = True)

In [42]:
#dropping years without implementation dates
chinese_loan.dropna(inplace = True)

/tmp/ipykernel_776009/643575008.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_loan.dropna(inplace = True)

In [43]:
chinese_loan

,Recipient,Implementation Start Year,Intent,Flow Type Simplified,Sector Name,COVID,Adjusted Amount (Nominal USD)
0,Afghanistan,2021.0,Development,Grant,EMERGENCY RESPONSE,No,"7,111,455.91"
1,Afghanistan,2021.0,Development,Grant,HEALTH,Yes,"12,600,000.00"
2,Afghanistan,2021.0,Development,Grant,HEALTH,Yes,"14,400,000.00"
3,Afghanistan,2021.0,Development,Grant,EMERGENCY RESPONSE,Yes,"13,000,000.00"
6,Afghanistan,2021.0,Development,Grant,HEALTH,Yes,"3,600,000.00"
...,...,...,...,...,...,...,...
20971,Viet Nam,2000.0,Development,Grant,"INDUSTRY, MINING, CONSTRUCTION",No,"10,760,000.00"
20972,Viet Nam,2000.0,Development,Loan,"INDUSTRY, MINING, CONSTRUCTION",No,"15,316,000.00"
20974,Viet Nam,2000.0,Development,Grant,EMERGENCY RESPONSE,No,"20,000.00"
20978,Zambia,2000.0,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,No,"120,794.95"
20981,Zimbabwe,2000.0,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,No,"603,974.73"

In [44]:
chinese_loan["Implementation Start Year"] = chinese_loan["Implementation Start Year"].astype('int32')

/tmp/ipykernel_776009/828448132.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_loan["Implementation Start Year"] = chinese_loan["Implementation Start Year"].astype('int32')

In [45]:
chinese_loan

,Recipient,Implementation Start Year,Intent,Flow Type Simplified,Sector Name,COVID,Adjusted Amount (Nominal USD)
0,Afghanistan,2021,Development,Grant,EMERGENCY RESPONSE,No,"7,111,455.91"
1,Afghanistan,2021,Development,Grant,HEALTH,Yes,"12,600,000.00"
2,Afghanistan,2021,Development,Grant,HEALTH,Yes,"14,400,000.00"
3,Afghanistan,2021,Development,Grant,EMERGENCY RESPONSE,Yes,"13,000,000.00"
6,Afghanistan,2021,Development,Grant,HEALTH,Yes,"3,600,000.00"
...,...,...,...,...,...,...,...
20971,Viet Nam,2000,Development,Grant,"INDUSTRY, MINING, CONSTRUCTION",No,"10,760,000.00"
20972,Viet Nam,2000,Development,Loan,"INDUSTRY, MINING, CONSTRUCTION",No,"15,316,000.00"
20974,Viet Nam,2000,Development,Grant,EMERGENCY RESPONSE,No,"20,000.00"
20978,Zambia,2000,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,No,"120,794.95"
20981,Zimbabwe,2000,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,No,"603,974.73"

In [46]:
chinese_loan.replace(name_to_alpha_2, inplace = True)

/tmp/ipykernel_776009/3419558913.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_loan.replace(name_to_alpha_2, inplace = True)

In [47]:
chinese_loan

,Recipient,Implementation Start Year,Intent,Flow Type Simplified,Sector Name,COVID,Adjusted Amount (Nominal USD)
0,AF,2021,Development,Grant,EMERGENCY RESPONSE,No,"7,111,455.91"
1,AF,2021,Development,Grant,HEALTH,Yes,"12,600,000.00"
2,AF,2021,Development,Grant,HEALTH,Yes,"14,400,000.00"
3,AF,2021,Development,Grant,EMERGENCY RESPONSE,Yes,"13,000,000.00"
6,AF,2021,Development,Grant,HEALTH,Yes,"3,600,000.00"
...,...,...,...,...,...,...,...
20971,VN,2000,Development,Grant,"INDUSTRY, MINING, CONSTRUCTION",No,"10,760,000.00"
20972,VN,2000,Development,Loan,"INDUSTRY, MINING, CONSTRUCTION",No,"15,316,000.00"
20974,VN,2000,Development,Grant,EMERGENCY RESPONSE,No,"20,000.00"
20978,ZM,2000,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,No,"120,794.95"
20981,ZW,2000,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,No,"603,974.73"

In [48]:
#converted adjusted to float

def remove_space(x):
    one = x
    two = ""
    for s in one:
        if s.isdigit():
            two += s
    return two

chinese_loan["Adjusted Amount (Nominal USD)"] = chinese_loan[" Adjusted Amount (Nominal USD) "].apply(lambda x: remove_space(x))
    

chinese_loan["Adjusted Amount (Nominal USD)"] = pd.to_numeric(chinese_loan["Adjusted Amount (Nominal USD)"], downcast = 'float')

/tmp/ipykernel_776009/3437805329.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_loan["Adjusted Amount (Nominal USD)"] = chinese_loan[" Adjusted Amount (Nominal USD) "].apply(lambda x: remove_space(x))
/tmp/ipykernel_776009/3437805329.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_loan["Adjusted Amount (Nominal USD)"] = pd.to_numeric(chinese_loan["Adjusted Amount (Nominal USD)"], downcast = 'float')

In [49]:
chinese_loan.drop(" Adjusted Amount (Nominal USD) ", axis = 1, inplace = True)

/tmp/ipykernel_776009/3540160246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_loan.drop(" Adjusted Amount (Nominal USD) ", axis = 1, inplace = True)

In [50]:
chinese_loan

,Recipient,Implementation Start Year,Intent,Flow Type Simplified,Sector Name,COVID,Adjusted Amount (Nominal USD)
0,AF,2021,Development,Grant,EMERGENCY RESPONSE,No,7.111456e+08
1,AF,2021,Development,Grant,HEALTH,Yes,1.260000e+09
2,AF,2021,Development,Grant,HEALTH,Yes,1.440000e+09
3,AF,2021,Development,Grant,EMERGENCY RESPONSE,Yes,1.300000e+09
6,AF,2021,Development,Grant,HEALTH,Yes,3.600000e+08
...,...,...,...,...,...,...,...
20971,VN,2000,Development,Grant,"INDUSTRY, MINING, CONSTRUCTION",No,1.076000e+09
20972,VN,2000,Development,Loan,"INDUSTRY, MINING, CONSTRUCTION",No,1.531600e+09
20974,VN,2000,Development,Grant,EMERGENCY RESPONSE,No,2.000000e+06
20978,ZM,2000,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,No,1.207950e+07
20981,ZW,2000,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,No,6.039747e+07

In [51]:
#categorizing loan amounts into 4 even blocks

#chinese_loan = chinese_loan[chinese_loan["Adjusted Amount (Nominal USD)"] > 0]
#["Adjusted Amount (Nominal USD)"], bins = pd.cut(chinese_loan["Adjusted Amount (Nominal USD)"].to_numpy(), bins = 4, retbins = True)
#bins

In [52]:
#chinese_loan["Adjusted Amount (Nominal USD)"][0]

In [53]:
#chinese_loan

In [54]:
#chinese_loan.replace({pd.Interval(-1499998698.7, 375000000975.0, closed = "right"): "Grade One",
                      #pd.Interval(375000000975.0, 750000000650.0, closed = "right"): "Grade Two",
                      #pd.Interval(750000000650.0, 1125000000325.0, closed = "right"): "Grade Three",
                      #pd.Interval(1125000000325.0, 1500000000000.0, closed = "right"): "Grade Four"
                     #}, inplace = True)

In [55]:
#chinese_loan

In [56]:
#Limiting recipients to only countries

chinese_loan = chinese_loan[chinese_loan["Recipient"].isin(alpha_2_to_name.keys())]
np.unique(chinese_loan["Recipient"])

array(['AF', 'AG', 'AL', 'AM', 'AO', 'AR', 'AZ', 'BA', 'BB', 'BD', 'BF',
       'BG', 'BI', 'BJ', 'BN', 'BO', 'BR', 'BS', 'BW', 'BY', 'CD', 'CF',
       'CG', 'CI', 'CK', 'CL', 'CM', 'CO', 'CR', 'CU', 'CV', 'DJ', 'DM',
       'DO', 'DZ', 'EC', 'EG', 'ER', 'ET', 'FJ', 'FM', 'GA', 'GD', 'GE',
       'GH', 'GM', 'GN', 'GQ', 'GW', 'GY', 'HN', 'HT', 'ID', 'IL', 'IN',
       'IQ', 'IR', 'JM', 'JO', 'KE', 'KG', 'KH', 'KI', 'KM', 'KP', 'KZ',
       'LA', 'LB', 'LC', 'LK', 'LR', 'LS', 'LY', 'MA', 'MD', 'ME', 'MG',
       'MH', 'MK', 'ML', 'MM', 'MN', 'MR', 'MU', 'MV', 'MW', 'MX', 'MY',
       'MZ', 'NA', 'NE', 'NG', 'NI', 'NP', 'NR', 'NU', 'OM', 'PA', 'PE',
       'PG', 'PH', 'PK', 'PS', 'PY', 'RO', 'RS', 'RU', 'RW', 'SB', 'SC',
       'SD', 'SL', 'SN', 'SO', 'SR', 'SS', 'ST', 'SV', 'SY', 'TD', 'TG',
       'TH', 'TJ', 'TL', 'TM', 'TN', 'TO', 'TR', 'TT', 'TZ', 'UA', 'UG',
       'UY', 'UZ', 'VE', 'VN', 'VU', 'WS', 'YE', 'ZA', 'ZM', 'ZW'],
      dtype=object)

In [57]:
chinese_loan

,Recipient,Implementation Start Year,Intent,Flow Type Simplified,Sector Name,COVID,Adjusted Amount (Nominal USD)
0,AF,2021,Development,Grant,EMERGENCY RESPONSE,No,7.111456e+08
1,AF,2021,Development,Grant,HEALTH,Yes,1.260000e+09
2,AF,2021,Development,Grant,HEALTH,Yes,1.440000e+09
3,AF,2021,Development,Grant,EMERGENCY RESPONSE,Yes,1.300000e+09
6,AF,2021,Development,Grant,HEALTH,Yes,3.600000e+08
...,...,...,...,...,...,...,...
20971,VN,2000,Development,Grant,"INDUSTRY, MINING, CONSTRUCTION",No,1.076000e+09
20972,VN,2000,Development,Loan,"INDUSTRY, MINING, CONSTRUCTION",No,1.531600e+09
20974,VN,2000,Development,Grant,EMERGENCY RESPONSE,No,2.000000e+06
20978,ZM,2000,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,No,1.207950e+07
20981,ZW,2000,Development,Grant,GOVERNMENT AND CIVIL SOCIETY,No,6.039747e+07

In [58]:
amount = chinese_loan[["Recipient", "Implementation Start Year", "Adjusted Amount (Nominal USD)"]]
chinese_loan.drop("Adjusted Amount (Nominal USD)", axis = 1, inplace = True)

/tmp/ipykernel_776009/377265042.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese_loan.drop("Adjusted Amount (Nominal USD)", axis = 1, inplace = True)

In [59]:
sectors = np.unique(chinese_loan["Sector Name"])
intents = np.unique(chinese_loan["Intent"])
flows = np.unique(chinese_loan["Flow Type Simplified"])
covid = np.unique(chinese_loan["COVID"])

In [60]:
chinese_loan = chinese_loan.groupby(['Recipient', 'Implementation Start Year']).apply(lambda x: x.apply(pd.Series.value_counts))
chinese_loan

                                                                              Intent  \
Recipient Implementation Start Year
AF        2000                      Development                                  1.0
                                    EMERGENCY RESPONSE                           NaN
                                    Grant                                        NaN
                                    No                                           NaN
          2001                      Development                                  1.0
...                                                                              ...
ZW        2021                      Loan                                         NaN
                                    No                                           NaN
                                    OTHER SOCIAL INFRASTRUCTURE AND SERVICES     NaN
                                    WATER SUPPLY AND SANITATION                  NaN
                                    Yes                                          NaN

                                                                              Flow Type Simplified  \
Recipient Implementation Start Year
AF        2000                      Development                                                NaN
                                    EMERGENCY RESPONSE                                         NaN
                                    Grant                                                      1.0
                                    No                                                         NaN
          2001                      Development                                                NaN
...                                                                                            ...
ZW        2021                      Loan                                                       2.0
                                    No                                                         NaN
                                    OTHER SOCIAL INFRASTRUCTURE AND SERVICES                   NaN
                                    WATER SUPPLY AND SANITATION                                NaN
                                    Yes                                                        NaN

                                                                              Sector Name  \
Recipient Implementation Start Year
AF        2000                      Development                                       NaN
                                    EMERGENCY RESPONSE                                1.0
                                    Grant                                             NaN
                                    No                                                NaN
          2001                      Development                                       NaN
...                                                                                   ...
ZW        2021                      Loan                                              NaN
                                    No                                                NaN
                                    OTHER SOCIAL INFRASTRUCTURE AND SERVICES          1.0
                                    WATER SUPPLY AND SANITATION                       1.0
                                    Yes                                               NaN

                                                                              COVID
Recipient Implementation Start Year
AF        2000                      Development                                 NaN
                                    EMERGENCY RESPONSE                          NaN
                                    Grant                                       NaN
                                    No                                          1.0
          2001                      Development                                 NaN
...                                                                             ...
ZW        2021                      Loan                                        NaN
                                    No                                          4.0
                                    OTHER SOCIAL INFRASTRUCTURE AND SERVICES    NaN
                                    WATER SUPPLY AND SANITATION                 NaN
                                    Yes                                         6.0

[11037 rows x 4 columns]

In [61]:
def return_not_na(x):
    for item in x:
        if pd.notna(item):
            return item


count = chinese_loan.apply(lambda x: return_not_na(x), axis = 1)
chinese_loan.drop(["Intent", "Flow Type Simplified", "Sector Name", "COVID"], axis = 1, inplace = True)
chinese_loan["Count"] = count

In [62]:
chinese_loan

                                                                              Count
Recipient Implementation Start Year
AF        2000                      Development                                 1.0
                                    EMERGENCY RESPONSE                          1.0
                                    Grant                                       1.0
                                    No                                          1.0
          2001                      Development                                 1.0
...                                                                             ...
ZW        2021                      Loan                                        2.0
                                    No                                          4.0
                                    OTHER SOCIAL INFRASTRUCTURE AND SERVICES    1.0
                                    WATER SUPPLY AND SANITATION                 1.0
                                    Yes                                         6.0

[11037 rows x 1 columns]

In [63]:
chinese_loan.reset_index(inplace = True)

In [64]:
chinese_loan

,Recipient,Implementation Start Year,level_2,Count
0,AF,2000,Development,1.0
1,AF,2000,EMERGENCY RESPONSE,1.0
2,AF,2000,Grant,1.0
3,AF,2000,No,1.0
4,AF,2001,Development,1.0
...,...,...,...,...
11032,ZW,2021,Loan,2.0
11033,ZW,2021,No,4.0
11034,ZW,2021,OTHER SOCIAL INFRASTRUCTURE AND SERVICES,1.0
11035,ZW,2021,WATER SUPPLY AND SANITATION,1.0
11036,ZW,2021,Yes,6.0

In [65]:
chinese_loan = chinese_loan.pivot(index = ['Recipient', 'Implementation Start Year'], columns = 'level_2')

In [66]:
chinese_loan

                                                      Count  \
level_2                             ACTION RELATING TO DEBT
Recipient Implementation Start Year
AF        2000                                          NaN
          2001                                          NaN
          2002                                          NaN
          2003                                          NaN
          2004                                          1.0
...                                                     ...
ZW        2017                                          NaN
          2018                                          NaN
          2019                                          NaN
          2020                                          NaN
          2021                                          NaN

                                                                    \
level_2                             AGRICULTURE, FORESTRY, FISHING
Recipient Implementation Start Year
AF        2000                                                 NaN
          2001                                                 NaN
          2002                                                 NaN
          2003                                                 NaN
          2004                                                 NaN
...                                                            ...
ZW        2017                                                 1.0
          2018                                                 1.0
          2019                                                 1.0
          2020                                                 NaN
          2021                                                 NaN

                                                                    \
level_2                             BANKING AND FINANCIAL SERVICES
Recipient Implementation Start Year
AF        2000                                                 NaN
          2001                                                 NaN
          2002                                                 NaN
          2003                                                 NaN
          2004                                                 NaN
...                                                            ...
ZW        2017                                                 NaN
          2018                                                 NaN
          2019                                                 NaN
          2020                                                 NaN
          2021                                                 NaN

                                                                 \
level_2                             BUSINESS AND OTHER SERVICES
Recipient Implementation Start Year
AF        2000                                              NaN
          2001                                              NaN
          2002                                              NaN
          2003                                              NaN
          2004                                              NaN
...                                                         ...
ZW        2017                                              NaN
          2018                                              NaN
          2019                                              NaN
          2020                                              NaN
          2021                                              NaN

                                                               \
level_2                             COMMUNICATIONS Commercial
Recipient Implementation Start Year
AF        2000                                 NaN        NaN
          2001                                 NaN        NaN
          2002                                 NaN        NaN
          2003                                 NaN        NaN
          2004                                 NaN        NaN
...                                            ...        ...
ZW        2017                                 NaN        NaN
          2018                                 1.0        NaN
          2019                                 NaN        NaN
          2020                                 NaN        NaN
          2021                                 1.0        NaN

                                                                                     \
level_2                             DEVELOPMENTAL FOOD AID/FOOD SECURITY ASSISTANCE
Recipient Implementation Start Year
AF        2000                                                                  NaN
          2001                                                                  NaN
          2002                                                                  NaN
          2003                                                                  NaN
          2004                                                                  NaN
...                                                                             ...
ZW        2017                                                                  NaN
          2018                                                                  NaN
          2019                                                                  1.0
          2020                                                                  NaN
          2021                                                                  NaN

                                                                          \
level_2                             DISASTER PREVENTION AND PREPAREDNESS
Recipient Implementation Start Year
AF        2000                                                       NaN
          2001                                                       NaN
          2002                                                       NaN
          2003                                                       NaN
          2004                                                       NaN
...                                                                  ...
ZW        2017                                                       NaN
          2018                                                       NaN
          2019                                                       NaN
          2020                                                       NaN
          2021                                                       NaN

                                                           ...  \
level_2                             Development EDUCATION  ...
Recipient Implementation Start Year                        ...
AF        2000                              1.0       NaN  ...
          2001                              1.0       NaN  ...
          2002                              2.0       NaN  ...
          2003                              2.0       1.0  ...
          2004                              4.0       NaN  ...
...                                         ...       ...  ...
ZW        2017                              3.0       NaN  ...
          2018                              4.0       NaN  ...
          2019                              7.0       NaN  ...
          2020                             11.0       NaN  ...
          2021                             10.0       1.0  ...

                                                                              \
level_2                             OTHER SOCIAL INFRASTRUCTURE AND SERVICES
Recipient Implementation Start Year
AF        2000                                                           NaN
          2001                                                           NaN
          2002                                                           NaN
          2003                                                           NaN
          2004                                                           NaN
...                                                                      ...
ZW        2017                                                           NaN
          2018                                                           NaN
          2019                                                           1.0
          2020                                                           NaN
          2021                                                           1.0

                                                                                            \
level_2                             POPULATION POLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH
Recipient Implementation Start Year
AF        2000                                                                     NaN
          2001                                                                     NaN
          2002                                                                     NaN
          2003                                                                     NaN
          2004                                                                     NaN
...                                                                                ...
ZW        2017                                                                     NaN
          2018                                                                     NaN
          2019                                                                     NaN
          2020                                                                     NaN
          2021                                                                     NaN

                                                                              \
level_2                             RECONSTRUCTION RELIEF AND REHABILITATION
Recipient Implementation Start Year
AF        2000                                                           NaN
          2001                                                           NaN
          2002                                                           NaN
          2003                                                           NaN
          2004                                                           NaN
...                                                                      ...
ZW        2017                                                           NaN
          2018                                                           NaN
          2019                                                           NaN
          2020                                                           NaN
          2021                                                           NaN

                                                      \
level_2                             Representational
Recipient Implementation Start Year
AF        2000                                   NaN
          2001                                   NaN
          2002                                   NaN
          2003                                   NaN
          2004                                   NaN
...                                              ...
ZW        2017                                   NaN
          2018                                   NaN
          2019                                   NaN
          2020                                   NaN
          2021                                   NaN

                                                                    \
level_2                             TRADE POLICIES AND REGULATIONS
Recipient Implementation Start Year
AF        2000                                                 NaN
          2001                                                 NaN
          2002                                                 NaN
          2003                                                 NaN
          2004                                                 NaN
...                                                            ...
ZW        2017                                                 NaN
          2018                                                 NaN
          2019                                                 NaN
          2020                                                 NaN
          2021                                                 NaN

                                                           \
level_2                             TRANSPORT AND STORAGE
Recipient Implementation Start Year
AF        2000                                        NaN
          2001                                        NaN
          2002                                        NaN
          2003                                        NaN
          2004                                        NaN
...                                                   ...
ZW        2017                                        NaN
          2018                                        1.0
          2019                                        NaN
          2020                                        NaN
          2021                                        NaN

                                                                   \
level_2                             UNALLOCATED/UNSPECIFIED Vague
Recipient Implementation Start Year
AF        2000                                          NaN   NaN
          2001                                          NaN   NaN
          2002                                          NaN   NaN
          2003                                          NaN   NaN
          2004                                          NaN   NaN
...                                                     ...   ...
ZW        2017                                          NaN   NaN
          2018                                          NaN   NaN
          2019                                          NaN   NaN
          2020                                          NaN   NaN
          2021                                          NaN   NaN


level_2                             WATER SUPPLY AND SANITATION   Yes
Recipient Implementation Start Year
AF        2000                                              NaN   NaN
          2001                                              NaN   NaN
          2002                                              NaN   NaN
          2003                                              NaN   NaN
          2004                                              1.0   NaN
...                                                         ...   ...
ZW        2017                                              NaN   NaN
          2018                                              NaN   NaN
          2019                                              NaN   NaN
          2020                                              NaN  11.0
          2021                                              1.0   6.0

[1901 rows x 33 columns]

In [67]:
chinese_loan.columns = chinese_loan.columns.droplevel(level = 0)

In [68]:
chinese_loan

level_2                              ACTION RELATING TO DEBT  \
Recipient Implementation Start Year
AF        2000                                           NaN
          2001                                           NaN
          2002                                           NaN
          2003                                           NaN
          2004                                           1.0
...                                                      ...
ZW        2017                                           NaN
          2018                                           NaN
          2019                                           NaN
          2020                                           NaN
          2021                                           NaN

level_2                              AGRICULTURE, FORESTRY, FISHING  \
Recipient Implementation Start Year
AF        2000                                                  NaN
          2001                                                  NaN
          2002                                                  NaN
          2003                                                  NaN
          2004                                                  NaN
...                                                             ...
ZW        2017                                                  1.0
          2018                                                  1.0
          2019                                                  1.0
          2020                                                  NaN
          2021                                                  NaN

level_2                              BANKING AND FINANCIAL SERVICES  \
Recipient Implementation Start Year
AF        2000                                                  NaN
          2001                                                  NaN
          2002                                                  NaN
          2003                                                  NaN
          2004                                                  NaN
...                                                             ...
ZW        2017                                                  NaN
          2018                                                  NaN
          2019                                                  NaN
          2020                                                  NaN
          2021                                                  NaN

level_2                              BUSINESS AND OTHER SERVICES  \
Recipient Implementation Start Year
AF        2000                                               NaN
          2001                                               NaN
          2002                                               NaN
          2003                                               NaN
          2004                                               NaN
...                                                          ...
ZW        2017                                               NaN
          2018                                               NaN
          2019                                               NaN
          2020                                               NaN
          2021                                               NaN

level_2                              COMMUNICATIONS  Commercial  \
Recipient Implementation Start Year
AF        2000                                  NaN         NaN
          2001                                  NaN         NaN
          2002                                  NaN         NaN
          2003                                  NaN         NaN
          2004                                  NaN         NaN
...                                             ...         ...
ZW        2017                                  NaN         NaN
          2018                                  1.0         NaN
          2019                                  NaN         NaN
          2020                                  NaN         NaN
          2021                                  1.0         NaN

level_2                              DEVELOPMENTAL FOOD AID/FOOD SECURITY ASSISTANCE  \
Recipient Implementation Start Year
AF        2000                                                                   NaN
          2001                                                                   NaN
          2002                                                                   NaN
          2003                                                                   NaN
          2004                                                                   NaN
...                                                                              ...
ZW        2017                                                                   NaN
          2018                                                                   NaN
          2019                                                                   1.0
          2020                                                                   NaN
          2021                                                                   NaN

level_2                              DISASTER PREVENTION AND PREPAREDNESS  \
Recipient Implementation Start Year
AF        2000                                                        NaN
          2001                                                        NaN
          2002                                                        NaN
          2003                                                        NaN
          2004                                                        NaN
...                                                                   ...
ZW        2017                                                        NaN
          2018                                                        NaN
          2019                                                        NaN
          2020                                                        NaN
          2021                                                        NaN

level_2                              Development  EDUCATION  ...  \
Recipient Implementation Start Year                          ...
AF        2000                               1.0        NaN  ...
          2001                               1.0        NaN  ...
          2002                               2.0        NaN  ...
          2003                               2.0        1.0  ...
          2004                               4.0        NaN  ...
...                                          ...        ...  ...
ZW        2017                               3.0        NaN  ...
          2018                               4.0        NaN  ...
          2019                               7.0        NaN  ...
          2020                              11.0        NaN  ...
          2021                              10.0        1.0  ...

level_2                              OTHER SOCIAL INFRASTRUCTURE AND SERVICES  \
Recipient Implementation Start Year
AF        2000                                                            NaN
          2001                                                            NaN
          2002                                                            NaN
          2003                                                            NaN
          2004                                                            NaN
...                                                                       ...
ZW        2017                                                            NaN
          2018                                                            NaN
          2019                                                            1.0
          2020                                                            NaN
          2021                                                            1.0

level_2                              POPULATION POLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH  \
Recipient Implementation Start Year
AF        2000                                                                     NaN
          2001                                                                     NaN
          2002                                                                     NaN
          2003                                                                     NaN
          2004                                                                     NaN
...                                                                                ...
ZW        2017                                                                     NaN
          2018                                                                     NaN
          2019                                                                     NaN
          2020                                                                     NaN
          2021                                                                     NaN

level_2                              RECONSTRUCTION RELIEF AND REHABILITATION  \
Recipient Implementation Start Year
AF        2000                                                            NaN
          2001                                                            NaN
          2002                                                            NaN
          2003                                                            NaN
          2004                                                            NaN
...                                                                       ...
ZW        2017                                                            NaN
          2018                                                            NaN
          2019                                                            NaN
          2020                                                            NaN
          2021                                                            NaN

level_2                              Representational  \
Recipient Implementation Start Year
AF        2000                                    NaN
          2001                                    NaN
          2002                                    NaN
          2003                                    NaN
          2004                                    NaN
...                                               ...
ZW        2017                                    NaN
          2018                                    NaN
          2019                                    NaN
          2020                                    NaN
          2021                                    NaN

level_2                              TRADE POLICIES AND REGULATIONS  \
Recipient Implementation Start Year
AF        2000                                                  NaN
          2001                                                  NaN
          2002                                                  NaN
          2003                                                  NaN
          2004                                                  NaN
...                                                             ...
ZW        2017                                                  NaN
          2018                                                  NaN
          2019                                                  NaN
          2020                                                  NaN
          2021                                                  NaN

level_2                              TRANSPORT AND STORAGE  \
Recipient Implementation Start Year
AF        2000                                         NaN
          2001                                         NaN
          2002                                         NaN
          2003                                         NaN
          2004                                         NaN
...                                                    ...
ZW        2017                                         NaN
          2018                                         1.0
          2019                                         NaN
          2020                                         NaN
          2021                                         NaN

level_2                              UNALLOCATED/UNSPECIFIED  Vague  \
Recipient Implementation Start Year
AF        2000                                           NaN    NaN
          2001                                           NaN    NaN
          2002                                           NaN    NaN
          2003                                           NaN    NaN
          2004                                           NaN    NaN
...                                                      ...    ...
ZW        2017                                           NaN    NaN
          2018                                           NaN    NaN
          2019                                           NaN    NaN
          2020                                           NaN    NaN
          2021                                           NaN    NaN

level_2                              WATER SUPPLY AND SANITATION   Yes
Recipient Implementation Start Year
AF        2000                                               NaN   NaN
          2001                                               NaN   NaN
          2002                                               NaN   NaN
          2003                                               NaN   NaN
          2004                                               1.0   NaN
...                                                          ...   ...
ZW        2017                                               NaN   NaN
          2018                                               NaN   NaN
          2019                                               NaN   NaN
          2020                                               NaN  11.0
          2021                                               1.0   6.0

[1901 rows x 33 columns]

In [69]:
chinese_loan

level_2                              ACTION RELATING TO DEBT  \
Recipient Implementation Start Year
AF        2000                                           NaN
          2001                                           NaN
          2002                                           NaN
          2003                                           NaN
          2004                                           1.0
...                                                      ...
ZW        2017                                           NaN
          2018                                           NaN
          2019                                           NaN
          2020                                           NaN
          2021                                           NaN

level_2                              AGRICULTURE, FORESTRY, FISHING  \
Recipient Implementation Start Year
AF        2000                                                  NaN
          2001                                                  NaN
          2002                                                  NaN
          2003                                                  NaN
          2004                                                  NaN
...                                                             ...
ZW        2017                                                  1.0
          2018                                                  1.0
          2019                                                  1.0
          2020                                                  NaN
          2021                                                  NaN

level_2                              BANKING AND FINANCIAL SERVICES  \
Recipient Implementation Start Year
AF        2000                                                  NaN
          2001                                                  NaN
          2002                                                  NaN
          2003                                                  NaN
          2004                                                  NaN
...                                                             ...
ZW        2017                                                  NaN
          2018                                                  NaN
          2019                                                  NaN
          2020                                                  NaN
          2021                                                  NaN

level_2                              BUSINESS AND OTHER SERVICES  \
Recipient Implementation Start Year
AF        2000                                               NaN
          2001                                               NaN
          2002                                               NaN
          2003                                               NaN
          2004                                               NaN
...                                                          ...
ZW        2017                                               NaN
          2018                                               NaN
          2019                                               NaN
          2020                                               NaN
          2021                                               NaN

level_2                              COMMUNICATIONS  Commercial  \
Recipient Implementation Start Year
AF        2000                                  NaN         NaN
          2001                                  NaN         NaN
          2002                                  NaN         NaN
          2003                                  NaN         NaN
          2004                                  NaN         NaN
...                                             ...         ...
ZW        2017                                  NaN         NaN
          2018                                  1.0         NaN
          2019                                  NaN         NaN
          2020                                  NaN         NaN
          2021                                  1.0         NaN

level_2                              DEVELOPMENTAL FOOD AID/FOOD SECURITY ASSISTANCE  \
Recipient Implementation Start Year
AF        2000                                                                   NaN
          2001                                                                   NaN
          2002                                                                   NaN
          2003                                                                   NaN
          2004                                                                   NaN
...                                                                              ...
ZW        2017                                                                   NaN
          2018                                                                   NaN
          2019                                                                   1.0
          2020                                                                   NaN
          2021                                                                   NaN

level_2                              DISASTER PREVENTION AND PREPAREDNESS  \
Recipient Implementation Start Year
AF        2000                                                        NaN
          2001                                                        NaN
          2002                                                        NaN
          2003                                                        NaN
          2004                                                        NaN
...                                                                   ...
ZW        2017                                                        NaN
          2018                                                        NaN
          2019                                                        NaN
          2020                                                        NaN
          2021                                                        NaN

level_2                              Development  EDUCATION  ...  \
Recipient Implementation Start Year                          ...
AF        2000                               1.0        NaN  ...
          2001                               1.0        NaN  ...
          2002                               2.0        NaN  ...
          2003                               2.0        1.0  ...
          2004                               4.0        NaN  ...
...                                          ...        ...  ...
ZW        2017                               3.0        NaN  ...
          2018                               4.0        NaN  ...
          2019                               7.0        NaN  ...
          2020                              11.0        NaN  ...
          2021                              10.0        1.0  ...

level_2                              OTHER SOCIAL INFRASTRUCTURE AND SERVICES  \
Recipient Implementation Start Year
AF        2000                                                            NaN
          2001                                                            NaN
          2002                                                            NaN
          2003                                                            NaN
          2004                                                            NaN
...                                                                       ...
ZW        2017                                                            NaN
          2018                                                            NaN
          2019                                                            1.0
          2020                                                            NaN
          2021                                                            1.0

level_2                              POPULATION POLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH  \
Recipient Implementation Start Year
AF        2000                                                                     NaN
          2001                                                                     NaN
          2002                                                                     NaN
          2003                                                                     NaN
          2004                                                                     NaN
...                                                                                ...
ZW        2017                                                                     NaN
          2018                                                                     NaN
          2019                                                                     NaN
          2020                                                                     NaN
          2021                                                                     NaN

level_2                              RECONSTRUCTION RELIEF AND REHABILITATION  \
Recipient Implementation Start Year
AF        2000                                                            NaN
          2001                                                            NaN
          2002                                                            NaN
          2003                                                            NaN
          2004                                                            NaN
...                                                                       ...
ZW        2017                                                            NaN
          2018                                                            NaN
          2019                                                            NaN
          2020                                                            NaN
          2021                                                            NaN

level_2                              Representational  \
Recipient Implementation Start Year
AF        2000                                    NaN
          2001                                    NaN
          2002                                    NaN
          2003                                    NaN
          2004                                    NaN
...                                               ...
ZW        2017                                    NaN
          2018                                    NaN
          2019                                    NaN
          2020                                    NaN
          2021                                    NaN

level_2                              TRADE POLICIES AND REGULATIONS  \
Recipient Implementation Start Year
AF        2000                                                  NaN
          2001                                                  NaN
          2002                                                  NaN
          2003                                                  NaN
          2004                                                  NaN
...                                                             ...
ZW        2017                                                  NaN
          2018                                                  NaN
          2019                                                  NaN
          2020                                                  NaN
          2021                                                  NaN

level_2                              TRANSPORT AND STORAGE  \
Recipient Implementation Start Year
AF        2000                                         NaN
          2001                                         NaN
          2002                                         NaN
          2003                                         NaN
          2004                                         NaN
...                                                    ...
ZW        2017                                         NaN
          2018                                         1.0
          2019                                         NaN
          2020                                         NaN
          2021                                         NaN

level_2                              UNALLOCATED/UNSPECIFIED  Vague  \
Recipient Implementation Start Year
AF        2000                                           NaN    NaN
          2001                                           NaN    NaN
          2002                                           NaN    NaN
          2003                                           NaN    NaN
          2004                                           NaN    NaN
...                                                      ...    ...
ZW        2017                                           NaN    NaN
          2018                                           NaN    NaN
          2019                                           NaN    NaN
          2020                                           NaN    NaN
          2021                                           NaN    NaN

level_2                              WATER SUPPLY AND SANITATION   Yes
Recipient Implementation Start Year
AF        2000                                               NaN   NaN
          2001                                               NaN   NaN
          2002                                               NaN   NaN
          2003                                               NaN   NaN
          2004                                               1.0   NaN
...                                                          ...   ...
ZW        2017                                               NaN   NaN
          2018                                               NaN   NaN
          2019                                               NaN   NaN
          2020                                               NaN  11.0
          2021                                               1.0   6.0

[1901 rows x 33 columns]

In [70]:
amount

      Recipient  Implementation Start Year  Adjusted Amount (Nominal USD)
0            AF                       2021                   7.111456e+08
1            AF                       2021                   1.260000e+09
2            AF                       2021                   1.440000e+09
3            AF                       2021                   1.300000e+09
6            AF                       2021                   3.600000e+08
...         ...                        ...                            ...
20971        VN                       2000                   1.076000e+09
20972        VN                       2000                   1.531600e+09
20974        VN                       2000                   2.000000e+06
20978        ZM                       2000                   1.207950e+07
20981        ZW                       2000                   6.039747e+07

[6400 rows x 3 columns]

In [71]:
amount = amount.groupby(["Recipient", "Implementation Start Year"]).sum()

In [72]:
amount

                                     Adjusted Amount (Nominal USD)
Recipient Implementation Start Year
AF        2000                                        5.000000e+07
          2001                                        1.208145e+07
          2002                                        5.195107e+08
          2003                                        1.341631e+08
          2004                                        3.148898e+09
...                                                            ...
ZW        2017                                        1.560000e+08
          2018                                        1.273562e+11
          2019                                        4.311464e+09
          2020                                        1.949663e+08
          2021                                        1.994923e+10

[1901 rows x 1 columns]

In [73]:
pd.options.display.float_format = "{:,.5f}".format
amount = amount.astype('float')

In [74]:
amount

                                     Adjusted Amount (Nominal USD)
Recipient Implementation Start Year
AF        2000                                    50,000,000.00000
          2001                                    12,081,454.00000
          2002                                   519,510,709.00000
          2003                                   134,163,057.00000
          2004                                 3,148,897,515.00000
...                                                            ...
ZW        2017                                   156,000,000.00000
          2018                               127,356,230,817.00000
          2019                                 4,311,463,680.00000
          2020                                   194,966,290.00000
          2021                                19,949,234,135.00000

[1901 rows x 1 columns]

In [75]:
chinese_loan = pd.concat([chinese_loan, amount], axis = 1)

In [76]:
chinese_loan

                                     ACTION RELATING TO DEBT  \
Recipient Implementation Start Year
AF        2000                                           NaN
          2001                                           NaN
          2002                                           NaN
          2003                                           NaN
          2004                                       1.00000
...                                                      ...
ZW        2017                                           NaN
          2018                                           NaN
          2019                                           NaN
          2020                                           NaN
          2021                                           NaN

                                     AGRICULTURE, FORESTRY, FISHING  \
Recipient Implementation Start Year
AF        2000                                                  NaN
          2001                                                  NaN
          2002                                                  NaN
          2003                                                  NaN
          2004                                                  NaN
...                                                             ...
ZW        2017                                              1.00000
          2018                                              1.00000
          2019                                              1.00000
          2020                                                  NaN
          2021                                                  NaN

                                     BANKING AND FINANCIAL SERVICES  \
Recipient Implementation Start Year
AF        2000                                                  NaN
          2001                                                  NaN
          2002                                                  NaN
          2003                                                  NaN
          2004                                                  NaN
...                                                             ...
ZW        2017                                                  NaN
          2018                                                  NaN
          2019                                                  NaN
          2020                                                  NaN
          2021                                                  NaN

                                     BUSINESS AND OTHER SERVICES  \
Recipient Implementation Start Year
AF        2000                                               NaN
          2001                                               NaN
          2002                                               NaN
          2003                                               NaN
          2004                                               NaN
...                                                          ...
ZW        2017                                               NaN
          2018                                               NaN
          2019                                               NaN
          2020                                               NaN
          2021                                               NaN

                                     COMMUNICATIONS  Commercial  \
Recipient Implementation Start Year
AF        2000                                  NaN         NaN
          2001                                  NaN         NaN
          2002                                  NaN         NaN
          2003                                  NaN         NaN
          2004                                  NaN         NaN
...                                             ...         ...
ZW        2017                                  NaN         NaN
          2018                              1.00000         NaN
          2019                                  NaN         NaN
          2020                                  NaN         NaN
          2021                              1.00000         NaN

                                     DEVELOPMENTAL FOOD AID/FOOD SECURITY ASSISTANCE  \
Recipient Implementation Start Year
AF        2000                                                                   NaN
          2001                                                                   NaN
          2002                                                                   NaN
          2003                                                                   NaN
          2004                                                                   NaN
...                                                                              ...
ZW        2017                                                                   NaN
          2018                                                                   NaN
          2019                                                               1.00000
          2020                                                                   NaN
          2021                                                                   NaN

                                     DISASTER PREVENTION AND PREPAREDNESS  \
Recipient Implementation Start Year
AF        2000                                                        NaN
          2001                                                        NaN
          2002                                                        NaN
          2003                                                        NaN
          2004                                                        NaN
...                                                                   ...
ZW        2017                                                        NaN
          2018                                                        NaN
          2019                                                        NaN
          2020                                                        NaN
          2021                                                        NaN

                                     Development  EDUCATION  ...  \
Recipient Implementation Start Year                          ...
AF        2000                           1.00000        NaN  ...
          2001                           1.00000        NaN  ...
          2002                           2.00000        NaN  ...
          2003                           2.00000    1.00000  ...
          2004                           4.00000        NaN  ...
...                                          ...        ...  ...
ZW        2017                           3.00000        NaN  ...
          2018                           4.00000        NaN  ...
          2019                           7.00000        NaN  ...
          2020                          11.00000        NaN  ...
          2021                          10.00000    1.00000  ...

                                     POPULATION POLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH  \
Recipient Implementation Start Year
AF        2000                                                                     NaN
          2001                                                                     NaN
          2002                                                                     NaN
          2003                                                                     NaN
          2004                                                                     NaN
...                                                                                ...
ZW        2017                                                                     NaN
          2018                                                                     NaN
          2019                                                                     NaN
          2020                                                                     NaN
          2021                                                                     NaN

                                     RECONSTRUCTION RELIEF AND REHABILITATION  \
Recipient Implementation Start Year
AF        2000                                                            NaN
          2001                                                            NaN
          2002                                                            NaN
          2003                                                            NaN
          2004                                                            NaN
...                                                                       ...
ZW        2017                                                            NaN
          2018                                                            NaN
          2019                                                            NaN
          2020                                                            NaN
          2021                                                            NaN

                                     Representational  \
Recipient Implementation Start Year
AF        2000                                    NaN
          2001                                    NaN
          2002                                    NaN
          2003                                    NaN
          2004                                    NaN
...                                               ...
ZW        2017                                    NaN
          2018                                    NaN
          2019                                    NaN
          2020                                    NaN
          2021                                    NaN

                                     TRADE POLICIES AND REGULATIONS  \
Recipient Implementation Start Year
AF        2000                                                  NaN
          2001                                                  NaN
          2002                                                  NaN
          2003                                                  NaN
          2004                                                  NaN
...                                                             ...
ZW        2017                                                  NaN
          2018                                                  NaN
          2019                                                  NaN
          2020                                                  NaN
          2021                                                  NaN

                                     TRANSPORT AND STORAGE  \
Recipient Implementation Start Year
AF        2000                                         NaN
          2001                                         NaN
          2002                                         NaN
          2003                                         NaN
          2004                                         NaN
...                                                    ...
ZW        2017                                         NaN
          2018                                     1.00000
          2019                                         NaN
          2020                                         NaN
          2021                                         NaN

                                     UNALLOCATED/UNSPECIFIED  Vague  \
Recipient Implementation Start Year
AF        2000                                           NaN    NaN
          2001                                           NaN    NaN
          2002                                           NaN    NaN
          2003                                           NaN    NaN
          2004                                           NaN    NaN
...                                                      ...    ...
ZW        2017                                           NaN    NaN
          2018                                           NaN    NaN
          2019                                           NaN    NaN
          2020                                           NaN    NaN
          2021                                           NaN    NaN

                                     WATER SUPPLY AND SANITATION      Yes  \
Recipient Implementation Start Year
AF        2000                                               NaN      NaN
          2001                                               NaN      NaN
          2002                                               NaN      NaN
          2003                                               NaN      NaN
          2004                                           1.00000      NaN
...                                                          ...      ...
ZW        2017                                               NaN      NaN
          2018                                               NaN      NaN
          2019                                               NaN      NaN
          2020                                               NaN 11.00000
          2021                                           1.00000  6.00000

                                     Adjusted Amount (Nominal USD)
Recipient Implementation Start Year
AF        2000                                    50,000,000.00000
          2001                                    12,081,454.00000
          2002                                   519,510,709.00000
          2003                                   134,163,057.00000
          2004                                 3,148,897,515.00000
...                                                            ...
ZW        2017                                   156,000,000.00000
          2018                               127,356,230,817.00000
          2019                                 4,311,463,680.00000
          2020                                   194,966,290.00000
          2021                                19,949,234,135.00000

[1901 rows x 34 columns]

In [77]:
chinese_loan.columns

Index(['ACTION RELATING TO DEBT', 'AGRICULTURE, FORESTRY, FISHING',
       'BANKING AND FINANCIAL SERVICES', 'BUSINESS AND OTHER SERVICES',
       'COMMUNICATIONS', 'Commercial',
       'DEVELOPMENTAL FOOD AID/FOOD SECURITY ASSISTANCE',
       'DISASTER PREVENTION AND PREPAREDNESS', 'Development', 'EDUCATION',
       'EMERGENCY RESPONSE', 'ENERGY', 'GENERAL BUDGET SUPPORT',
       'GENERAL ENVIRONMENTAL PROTECTION', 'GOVERNMENT AND CIVIL SOCIETY',
       'Grant', 'HEALTH', 'INDUSTRY, MINING, CONSTRUCTION', 'Loan', 'Mixed',
       'No', 'OTHER COMMODITY ASSISTANCE', 'OTHER MULTISECTOR',
       'OTHER SOCIAL INFRASTRUCTURE AND SERVICES',
       'POPULATION POLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH',
       'RECONSTRUCTION RELIEF AND REHABILITATION', 'Representational',
       'TRADE POLICIES AND REGULATIONS', 'TRANSPORT AND STORAGE',
       'UNALLOCATED/UNSPECIFIED', 'Vague', 'WATER SUPPLY AND SANITATION',
       'Yes', 'Adjusted Amount (Nominal USD)'],
      dtype='object')

In [78]:
new_order = np.concatenate((flows, intents, sectors, covid, ["Adjusted Amount (Nominal USD)"]))

In [79]:
new_order

array(['Grant', 'Loan', 'Vague', 'Commercial', 'Development', 'Mixed',
       'Representational', 'ACTION RELATING TO DEBT',
       'AGRICULTURE, FORESTRY, FISHING', 'BANKING AND FINANCIAL SERVICES',
       'BUSINESS AND OTHER SERVICES', 'COMMUNICATIONS',
       'DEVELOPMENTAL FOOD AID/FOOD SECURITY ASSISTANCE',
       'DISASTER PREVENTION AND PREPAREDNESS', 'EDUCATION',
       'EMERGENCY RESPONSE', 'ENERGY', 'GENERAL BUDGET SUPPORT',
       'GENERAL ENVIRONMENTAL PROTECTION', 'GOVERNMENT AND CIVIL SOCIETY',
       'HEALTH', 'INDUSTRY, MINING, CONSTRUCTION',
       'OTHER COMMODITY ASSISTANCE', 'OTHER MULTISECTOR',
       'OTHER SOCIAL INFRASTRUCTURE AND SERVICES',
       'POPULATION POLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH',
       'RECONSTRUCTION RELIEF AND REHABILITATION',
       'TRADE POLICIES AND REGULATIONS', 'TRANSPORT AND STORAGE',
       'UNALLOCATED/UNSPECIFIED', 'WATER SUPPLY AND SANITATION', 'No',
       'Yes', 'Adjusted Amount (Nominal USD)'], dtype=object)

In [80]:
chinese_loan = chinese_loan[new_order]
chinese_loan

                                       Grant    Loan  Vague  Commercial  \
Recipient Implementation Start Year
AF        2000                       1.00000     NaN    NaN         NaN
          2001                       1.00000     NaN    NaN         NaN
          2002                       2.00000     NaN    NaN         NaN
          2003                       2.00000     NaN    NaN         NaN
          2004                       4.00000     NaN    NaN         NaN
...                                      ...     ...    ...         ...
ZW        2017                       3.00000     NaN    NaN         NaN
          2018                       3.00000 2.00000    NaN         NaN
          2019                       7.00000     NaN    NaN         NaN
          2020                      11.00000     NaN    NaN         NaN
          2021                       8.00000 2.00000    NaN         NaN

                                     Development   Mixed  Representational  \
Recipient Implementation Start Year
AF        2000                           1.00000     NaN               NaN
          2001                           1.00000     NaN               NaN
          2002                           2.00000     NaN               NaN
          2003                           2.00000     NaN               NaN
          2004                           4.00000     NaN               NaN
...                                          ...     ...               ...
ZW        2017                           3.00000     NaN               NaN
          2018                           4.00000 1.00000               NaN
          2019                           7.00000     NaN               NaN
          2020                          11.00000     NaN               NaN
          2021                          10.00000     NaN               NaN

                                     ACTION RELATING TO DEBT  \
Recipient Implementation Start Year
AF        2000                                           NaN
          2001                                           NaN
          2002                                           NaN
          2003                                           NaN
          2004                                       1.00000
...                                                      ...
ZW        2017                                           NaN
          2018                                           NaN
          2019                                           NaN
          2020                                           NaN
          2021                                           NaN

                                     AGRICULTURE, FORESTRY, FISHING  \
Recipient Implementation Start Year
AF        2000                                                  NaN
          2001                                                  NaN
          2002                                                  NaN
          2003                                                  NaN
          2004                                                  NaN
...                                                             ...
ZW        2017                                              1.00000
          2018                                              1.00000
          2019                                              1.00000
          2020                                                  NaN
          2021                                                  NaN

                                     BANKING AND FINANCIAL SERVICES  ...  \
Recipient Implementation Start Year                                  ...
AF        2000                                                  NaN  ...
          2001                                                  NaN  ...
          2002                                                  NaN  ...
          2003                                                  NaN  ...
          2004                                                  NaN  ...
...                                                             ...  ...
ZW        2017                                                  NaN  ...
          2018                                                  NaN  ...
          2019                                                  NaN  ...
          2020                                                  NaN  ...
          2021                                                  NaN  ...

                                     OTHER SOCIAL INFRASTRUCTURE AND SERVICES  \
Recipient Implementation Start Year
AF        2000                                                            NaN
          2001                                                            NaN
          2002                                                            NaN
          2003                                                            NaN
          2004                                                            NaN
...                                                                       ...
ZW        2017                                                            NaN
          2018                                                            NaN
          2019                                                        1.00000
          2020                                                            NaN
          2021                                                        1.00000

                                     POPULATION POLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH  \
Recipient Implementation Start Year
AF        2000                                                                     NaN
          2001                                                                     NaN
          2002                                                                     NaN
          2003                                                                     NaN
          2004                                                                     NaN
...                                                                                ...
ZW        2017                                                                     NaN
          2018                                                                     NaN
          2019                                                                     NaN
          2020                                                                     NaN
          2021                                                                     NaN

                                     RECONSTRUCTION RELIEF AND REHABILITATION  \
Recipient Implementation Start Year
AF        2000                                                            NaN
          2001                                                            NaN
          2002                                                            NaN
          2003                                                            NaN
          2004                                                            NaN
...                                                                       ...
ZW        2017                                                            NaN
          2018                                                            NaN
          2019                                                            NaN
          2020                                                            NaN
          2021                                                            NaN

                                     TRADE POLICIES AND REGULATIONS  \
Recipient Implementation Start Year
AF        2000                                                  NaN
          2001                                                  NaN
          2002                                                  NaN
          2003                                                  NaN
          2004                                                  NaN
...                                                             ...
ZW        2017                                                  NaN
          2018                                                  NaN
          2019                                                  NaN
          2020                                                  NaN
          2021                                                  NaN

                                     TRANSPORT AND STORAGE  \
Recipient Implementation Start Year
AF        2000                                         NaN
          2001                                         NaN
          2002                                         NaN
          2003                                         NaN
          2004                                         NaN
...                                                    ...
ZW        2017                                         NaN
          2018                                     1.00000
          2019                                         NaN
          2020                                         NaN
          2021                                         NaN

                                     UNALLOCATED/UNSPECIFIED  \
Recipient Implementation Start Year
AF        2000                                           NaN
          2001                                           NaN
          2002                                           NaN
          2003                                           NaN
          2004                                           NaN
...                                                      ...
ZW        2017                                           NaN
          2018                                           NaN
          2019                                           NaN
          2020                                           NaN
          2021                                           NaN

                                     WATER SUPPLY AND SANITATION      No  \
Recipient Implementation Start Year
AF        2000                                               NaN 1.00000
          2001                                               NaN 1.00000
          2002                                               NaN 2.00000
          2003                                               NaN 2.00000
          2004                                           1.00000 4.00000
...                                                          ...     ...
ZW        2017                                               NaN 3.00000
          2018                                               NaN 5.00000
          2019                                               NaN 7.00000
          2020                                               NaN     NaN
          2021                                           1.00000 4.00000

                                         Yes  Adjusted Amount (Nominal USD)
Recipient Implementation Start Year
AF        2000                           NaN               50,000,000.00000
          2001                           NaN               12,081,454.00000
          2002                           NaN              519,510,709.00000
          2003                           NaN              134,163,057.00000
          2004                           NaN            3,148,897,515.00000
...                                      ...                            ...
ZW        2017                           NaN              156,000,000.00000
          2018                           NaN          127,356,230,817.00000
          2019                           NaN            4,311,463,680.00000
          2020                      11.00000              194,966,290.00000
          2021                       6.00000           19,949,234,135.00000

[1901 rows x 34 columns]

In [81]:
loan_debt_data

,,Central Govt Debt (Percentage of GDP),General Govt Debt (Percentage of GDP)
Country,Year,,
AF,1950,NaN,NaN
AL,1950,NaN,NaN
DZ,1950,NaN,NaN
AO,1950,NaN,NaN
AG,1950,NaN,NaN
...,...,...,...
PH,2022,NaN,57.51970
TJ,2022,NaN,34.63116
TZ,2022,NaN,41.62240
AE,2022,NaN,29.95788
UZ,2022,NaN,34.29459

In [82]:
loan_debt_data.reset_index(inplace = True)

In [83]:
loan_debt_data["Year"] = pd.to_numeric(loan_debt_data["Year"])

In [84]:
loan_debt_data

,Country,Year,Central Govt Debt (Percentage of GDP),General Govt Debt (Percentage of GDP)
0,AF,1950,NaN,NaN
1,AL,1950,NaN,NaN
2,DZ,1950,NaN,NaN
3,AO,1950,NaN,NaN
4,AG,1950,NaN,NaN
...,...,...,...,...
13792,PH,2022,NaN,57.51970
13793,TJ,2022,NaN,34.63116
13794,TZ,2022,NaN,41.62240
13795,AE,2022,NaN,29.95788
13796,UZ,2022,NaN,34.29459

In [85]:
loan_debt_data = loan_debt_data[loan_debt_data["Year"] >= 2000]

In [86]:
loan_debt_data.set_index(["Country", "Year"], inplace = True)

In [87]:
chinese_loan.reset_index(inplace = True)
chinese_loan

,Recipient,Implementation Start Year,Grant,Loan,Vague,Commercial,Development,Mixed,Representational,ACTION RELATING TO DEBT,...,OTHER SOCIAL INFRASTRUCTURE AND SERVICES,POPULATION POLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH,RECONSTRUCTION RELIEF AND REHABILITATION,TRADE POLICIES AND REGULATIONS,TRANSPORT AND STORAGE,UNALLOCATED/UNSPECIFIED,WATER SUPPLY AND SANITATION,No,Yes,Adjusted Amount (Nominal USD)
0,AF,2000,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"50,000,000.00000"
1,AF,2001,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"12,081,454.00000"
2,AF,2002,2.00000,NaN,NaN,NaN,2.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,"519,510,709.00000"
3,AF,2003,2.00000,NaN,NaN,NaN,2.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,"134,163,057.00000"
4,AF,2004,4.00000,NaN,NaN,NaN,4.00000,NaN,NaN,1.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,4.00000,NaN,"3,148,897,515.00000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1896,ZW,2017,3.00000,NaN,NaN,NaN,3.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.00000,NaN,"156,000,000.00000"
1897,ZW,2018,3.00000,2.00000,NaN,NaN,4.00000,1.00000,NaN,NaN,...,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,5.00000,NaN,"127,356,230,817.00000"
1898,ZW,2019,7.00000,NaN,NaN,NaN,7.00000,NaN,NaN,NaN,...,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,7.00000,NaN,"4,311,463,680.00000"
1899,ZW,2020,11.00000,NaN,NaN,NaN,11.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.00000,"194,966,290.00000"
1900,ZW,2021,8.00000,2.00000,NaN,NaN,10.00000,NaN,NaN,NaN,...,1.00000,NaN,NaN,NaN,NaN,NaN,1.00000,4.00000,6.00000,"19,949,234,135.00000"

In [88]:
chinese_loan = chinese_loan.rename({"Implementation Start Year": "Year", "Recipient": "Country"}, axis = 1)

In [89]:
chinese_loan

,Country,Year,Grant,Loan,Vague,Commercial,Development,Mixed,Representational,ACTION RELATING TO DEBT,...,OTHER SOCIAL INFRASTRUCTURE AND SERVICES,POPULATION POLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH,RECONSTRUCTION RELIEF AND REHABILITATION,TRADE POLICIES AND REGULATIONS,TRANSPORT AND STORAGE,UNALLOCATED/UNSPECIFIED,WATER SUPPLY AND SANITATION,No,Yes,Adjusted Amount (Nominal USD)
0,AF,2000,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"50,000,000.00000"
1,AF,2001,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"12,081,454.00000"
2,AF,2002,2.00000,NaN,NaN,NaN,2.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,"519,510,709.00000"
3,AF,2003,2.00000,NaN,NaN,NaN,2.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,"134,163,057.00000"
4,AF,2004,4.00000,NaN,NaN,NaN,4.00000,NaN,NaN,1.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,4.00000,NaN,"3,148,897,515.00000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1896,ZW,2017,3.00000,NaN,NaN,NaN,3.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.00000,NaN,"156,000,000.00000"
1897,ZW,2018,3.00000,2.00000,NaN,NaN,4.00000,1.00000,NaN,NaN,...,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,5.00000,NaN,"127,356,230,817.00000"
1898,ZW,2019,7.00000,NaN,NaN,NaN,7.00000,NaN,NaN,NaN,...,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,7.00000,NaN,"4,311,463,680.00000"
1899,ZW,2020,11.00000,NaN,NaN,NaN,11.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.00000,"194,966,290.00000"
1900,ZW,2021,8.00000,2.00000,NaN,NaN,10.00000,NaN,NaN,NaN,...,1.00000,NaN,NaN,NaN,NaN,NaN,1.00000,4.00000,6.00000,"19,949,234,135.00000"

In [90]:
chinese_loan.sort_values(["Year", "Country"], inplace = True)
chinese_loan

,Country,Year,Grant,Loan,Vague,Commercial,Development,Mixed,Representational,ACTION RELATING TO DEBT,...,OTHER SOCIAL INFRASTRUCTURE AND SERVICES,POPULATION POLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH,RECONSTRUCTION RELIEF AND REHABILITATION,TRADE POLICIES AND REGULATIONS,TRANSPORT AND STORAGE,UNALLOCATED/UNSPECIFIED,WATER SUPPLY AND SANITATION,No,Yes,Adjusted Amount (Nominal USD)
1757,UZ,1996,NaN,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"2,923,999,900.00000"
496,ET,1998,NaN,1.00000,NaN,NaN,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,1.00000,NaN,"1,200,000,000.00000"
1052,MM,1998,NaN,2.00000,NaN,NaN,NaN,2.00000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,"17,000,000,000.00000"
833,KM,1999,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"500,275,935.00000"
0,AF,2000,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"50,000,000.00000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1681,TR,2022,NaN,2.00000,NaN,NaN,NaN,2.00000,NaN,NaN,...,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,2.00000,NaN,"10,833,725,411.00000"
1820,VU,2022,1.00000,1.00000,NaN,NaN,2.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,2.00000,NaN,"6,314,777,697.00000"
1878,ZM,2022,NaN,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"2,216,000,000.00000"
326,CI,2023,NaN,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,...,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,1.00000,NaN,"10,245,937,113.00000"
607,GH,2023,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"1,942,028,986.00000"

In [91]:
chinese_loan = chinese_loan[chinese_loan["Year"] >= 2000]

In [92]:
chinese_loan.set_index(["Country", "Year"], inplace = True)

In [93]:
chinese_loan

,,Grant,Loan,Vague,Commercial,Development,Mixed,Representational,ACTION RELATING TO DEBT,"AGRICULTURE, FORESTRY, FISHING",BANKING AND FINANCIAL SERVICES,...,OTHER SOCIAL INFRASTRUCTURE AND SERVICES,POPULATION POLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH,RECONSTRUCTION RELIEF AND REHABILITATION,TRADE POLICIES AND REGULATIONS,TRANSPORT AND STORAGE,UNALLOCATED/UNSPECIFIED,WATER SUPPLY AND SANITATION,No,Yes,Adjusted Amount (Nominal USD)
Country,Year,,,,,,,,,,,,,,,,,,,,,
AF,2000,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"50,000,000.00000"
AL,2000,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"120,000,000.00000"
BJ,2000,NaN,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"887,842,850.00000"
CD,2000,1.00000,1.00000,NaN,NaN,1.00000,1.00000,NaN,NaN,1.00000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,"1,545,254,881.00000"
ER,2000,NaN,1.00000,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"966,359,564.00000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TR,2022,NaN,2.00000,NaN,NaN,NaN,2.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,2.00000,NaN,"10,833,725,411.00000"
VU,2022,1.00000,1.00000,NaN,NaN,2.00000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,2.00000,NaN,"6,314,777,697.00000"
ZM,2022,NaN,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"2,216,000,000.00000"
CI,2023,NaN,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,1.00000,NaN,"10,245,937,113.00000"
GH,2023,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"1,942,028,986.00000"

In [94]:
loan_debt_data = pd.concat([loan_debt_data, chinese_loan], axis = 1, join = "outer")

In [95]:
loan_debt_data

,,Central Govt Debt (Percentage of GDP),General Govt Debt (Percentage of GDP),Grant,Loan,Vague,Commercial,Development,Mixed,Representational,ACTION RELATING TO DEBT,...,OTHER SOCIAL INFRASTRUCTURE AND SERVICES,POPULATION POLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH,RECONSTRUCTION RELIEF AND REHABILITATION,TRADE POLICIES AND REGULATIONS,TRANSPORT AND STORAGE,UNALLOCATED/UNSPECIFIED,WATER SUPPLY AND SANITATION,No,Yes,Adjusted Amount (Nominal USD)
Country,Year,,,,,,,,,,,,,,,,,,,,,
AF,2000,NaN,NaN,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"50,000,000.00000"
AL,2000,63.37646291,63.76868358,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"120,000,000.00000"
DZ,2000,57.96034348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AO,2000,133.9141396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AG,2000,105.1323732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
KP,2020,NaN,NaN,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"10,308,600,000.00000"
CU,2021,NaN,NaN,5.00000,NaN,NaN,NaN,5.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00000,"301,868,452.00000"
SO,2021,NaN,NaN,3.00000,NaN,NaN,NaN,3.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,2.00000,"1,660,000,000.00000"
CI,2023,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,...,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,1.00000,NaN,"10,245,937,113.00000"
GH,2023,NaN,NaN,1.00000,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,"1,942,028,986.00000"

In [96]:
loan_debt_data.to_csv("loan_debt_data.csv")

In [97]:
chinese_loan.reset_index(inplace = True)

In [98]:
type(chinese_loan["Year"][0])

numpy.int32